body {
  background-color: #2b4d37;
}
:root {
  scroll-padding-top: 7rem;
}
a:link {
  color: #000000;
}
a:hover {
  color: #2b4d37;
}
a:visited {
  color: #2b4d37;
}
.container {
  background-color: #e1ded8;
}
.nav {
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(124, 124, 124);
  margin-bottom: 16px;
}
.BC-gw {
  position: sticky;
  top: 0px;
  background-color: #e1ded8;
  padding: 4px;
}
.gw-page {
  display: flex;
  justify-content: space-around;
  align-items: start;

  .leftArea {
    width: 50%;
  }
  .rightArea {
    width: 40%;
    position: sticky;
    top: 30px;
  }
  .partyPayers {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .gw-page {
    flex-direction: column;
    .leftArea {
      width: 100%;
      order: 2;
    }
    .rightArea {
      order: 1;
      width: 100%;
      position: static;
      top: 0px;

      .rightNav {
        display: none;
      }
      .partyPayers {
        /* flex-wrap: wrap; */
        flex-direction: row;
        display: flex;
      }
      .playerCard {
        width: 40%;
      }
    }
  }
}

.leftNav {
  position: sticky;
  top: 30px;
  background-color: #e1ded8;
}

.gw-infoCard {
  border-radius: 10px;
  /* box-shadow: 4px 4px 10px rgb(105, 105, 105); */
  padding: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.485);
}
.rulesBox {
  flex-wrap: wrap;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.serverBox {
  flex-wrap: wrap;
}
.roomCard {
  height: 100px;
  align-items: center;
}
.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.star {
  height: 100%;
  color: #2b4d37;
  .red {
    color: #b79347;
  }
}
.gw-bb {
  border-bottom: 1px solid rgb(151, 150, 150);
  padding-bottom: 2px;
  margin-bottom: 8px;
}
.nav-active {
  padding-bottom: 7px;
  border-bottom: 2px solid #ff0000;
}
.faSz {
  font-size: 20px;
}

.gw-logoArea {
  width: 180px;
}
.gw-mapImg {
  width: 50px;
}

.gw-infoBox {
  display: flex;
  gap: 16px;
}
.imgArea {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mainImg {
    object-fit: cover;
    width: 500px;
    height: 380px;
    /* margin-right: 16px; */
  }
  .sideImg {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    justify-content: space-between;
  }
  .smallImg {
    width: 80px;
    height: 80px;
  }
}
.serverPill {
  width: 90px;
}
.pill {
  /* width: 5rem; */
  display: inline-block;
  padding: 2px 16px;
  border: 1px solid #000000;
  border-radius: 15px;
}

.timeBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.timecontrlo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* 玩家區域 */
.playerCard {
  display: flex;
  width: 100%;
  background-color: #ffe9b1;

  .playerImg {
  }
  img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
  }
}
=======
    justify-content: start;
    margin-right: 120px;
    width: 25%;
    
    
  }
  .timecontrlo{
    display: flex;
    width: 100%;
    justify-content:start ;
  }
>>>>>>> origin/PC
